%table.table.table-striped
  %thead
    %tr
      %th Danie
      %th
  %tbody
    - dinners.each do |d|
      %tr
        %td= d.name
        %td
          - if current_user.is_admin?
            = link_to 'Edit', edit_dinner_path(d)